{% extends 'base.html' %}
{% block content %}

<form action="" method="post">
    {% csrf_token %} 
    <div class="text-center">
    <h1>Signup</h1>
</div>
<div class="error">
    {% if messages %}
    {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
            </p>
    {% endfor %}
     {% endif %}
    </div>
    <label for="username">Username</label>

    <input type="text" placeholder="Username" name="username" id="username" required>

    <label for="email">Email</label>
    <input type="email" placeholder="Email or Phone" name="email" id="email" required>

    <label for="password1">Password</label>
    <input type="password" placeholder="Password" id="password1" name="password1" required>


    <label for="adress">Address</label>
    <input type="text" name="address" required placeholder="adress">
    
    <label for="phone">Phone Number</label>
    <input type="text" name="phone" required placeholder="phone">
    <button type="submit">Signup</button>
    
    <a class="text-primary" href="{% url 'login' %}" >i have already account</a>
</form>

{% endblock %}